<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-body__caption'>Illustrations by Alberto Miranda</div>
            <p><span class='uit-drop'><span class='uit-drop__inner'>T</span></span>he 2020 Democratic primary is poised to be the largest and most diverse in recent memory. With half a dozen candidates already in the race and dozens more considering it, Democrats will have no shortage of candidates auditioning for the role of Trump-slayer.</p>

            <p>When the massive field is finalized, likely before the first debate in June 2019, the potential candidates could stretch four decades, feature a historic number of women and include multiple African Americans, at least one Latino, a Hindu – and a vegan. Among them are political veterans – senators, members of congress, governors, small and big-town mayors – as well as political novices – businessmen, entrepreneurs and a even New Age author – who span the ideological spectrum from consensus minded-pragmatists to Democratic socialists.</p>

            <p>A few candidates have already declared candidacy while others have taken the preliminary step of forming an exploratory committee, which is essentially a legal distinction made before formally declaring.</p>
        </div>
    </div>
</div>
