<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-body__caption'>Illustrations by Alberto Miranda</div>
            <p><span class='uit-drop'><span class='uit-drop__inner'>T</span></span>he 2020 Democratic primary is poised to be the largest and most diverse in recent memory. With half a dozen candidates already in the race and dozens more considering it, Democrats will have no shortage of candidates auditioning for the role of Trump-slayer.</p>

            <p>By the time of the first Democratic debate in June 2019, the potential candidates could stretch over four decades in age, feature a historic number of women and include multiple African Americans, at least one Latino, a gay navy veteran, a Hindu – and a vegan. Among the speculative list of contenders are political veterans – senators, members of Congress, governors and small- and big-town mayors – as well as political novices – businessmen, entrepreneurs and even a new age author – all of whom span the ideological spectrum from consensus-minded-pragmatists to Democratic socialists.</p>

            <p>There is no clear frontrunner and Trump has already begun taunting his would-be opponents, setting the stage for a wild, unpredictable, rough-and-tumble primary season.</p>
        </div>
    </div>
</div>
