<div class='uit-declared'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h3 class='uit-subhead'>Who is running?</h3>
            <div class='uit-declared__candidates'>
                {{#each candidates}}
                    {{#if_eq status 'Declared'}}
                        <div class='uit-declared__candidate'>
                            <img class='uit-declared__avatar' src='{{ ../path }}/assets/portraits/{{ handlise name }}.jpg' />
                            <div class='uit-declared__candidate-content'>
                                <span class='uit-declared__name'>{{ name }}</span>
                                <span class='uit-declared__position'>{{ currentPosition }}</span>
                                <div class='uit-declared__description'>
                                    {{{ marked copy }}}
                                </div>
                            </div>
                        </div>
                    {{/if_eq}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
