<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <a class='uit-header__tag' href='https://www.theguardian.com/us-news/us-elections-2020'>US elections 2020</a>
            <h1 class='uit-header__headline' itemprop='headline'>
                 Who will run in 2020? The full list of Democrats vying to take on Trump
            </h1>
            <p class='uit-header__standfirst' itemprop='description'>Elizabeth Warren has confirmed, Bernie Sanders and Joe Biden look likely – but they'll have to see off a historically large field of candidates first</p>
            <div class='uit-header__meta-bar'>
                <div class='uit-header__meta-group'>
                    <p class='uit-header__byline'><a href='https://www.theguardian.com/profile/lauren-gambino'>Lauren Gambino</a> and <a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a></p>
                    <p class='uit-header__dateline'>
                        <time itemprop='dataPublished' datatime='2019-01-18T:08:00:00-0500'>Fri 18 Jan 2019 08.00 EST</time>
                    </p>
                </div>
                {{> partials/share }}
            </div>
            <div class='uit-header__image'>
                <img class='uit-header__placard uit-header__placard--1' src='{{ path }}/assets/placard/bernie.png' />
                <img class='uit-header__placard uit-header__placard--2' src='{{ path }}/assets/placard/booker.png' />
                <img class='uit-header__placard uit-header__placard--3' src='{{ path }}/assets/placard/castro.png' />
                <img class='uit-header__placard uit-header__placard--4' src='{{ path }}/assets/placard/warren.png' />
                <img class='uit-header__placard uit-header__placard--5' src='{{ path }}/assets/placard/beto.png' />
                <img class='uit-header__placard uit-header__placard--6' src='{{ path }}/assets/placard/delaney.png' />
                <img class='uit-header__placard uit-header__placard--7' src='{{ path }}/assets/placard/harris.png' />
                <img class='uit-header__placard uit-header__placard--8' src='{{ path }}/assets/placard/bloomberg.png' />
                <img class='uit-header__podium' src='{{ path }}/assets/header.jpg' />
            </div>
        </div>
    </div>
</div>
