<div class='uit-maybes'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h3 class='uit-subhead'>Who else might run?</h3>
            <p>Several more candidates have not yet formally announced but have signaled that they are serious about jumping in the race. These are the candidates who have visited the early-voting states of Iowa and New Hampshire, are touring the country on book tours or keep appearing in national polls. Still, a handful of other potential contenders appear less certain but should not be ruled out just yet.</p>
            <div class='uit-maybes__table uit-maybes__table--titling'>
                <div class='uit-maybes__row uit-maybes__row--titling'>
                    <div class='uit-maybes__row-title'></div>
                    <div class='uit-maybes__row-title'></div>
                    <div class='uit-maybes__row-title'>IA/NH</div>
                    <div class='uit-maybes__row-title'>Book</div>
                    <div class='uit-maybes__row-title'>Polls</div>
                </div>
            </div>

            <div class='uit-maybes__table'>
                {{#each candidates}}
                    {{#if_eq status 'Declared' }}
                    {{ else }}
                        <div class='uit-maybes__row'>
                            <div class='uit-maybes__candidate'>
                                <span class='uit-maybes__name'>{{ name }}</span>
                                <span class='uit-maybes__position'>{{ currentPosition }}</span>
                            </div>
                            <div class='uit-maybes__quote'>
                                {{#if quote}}
                                    <div class='uit-maybes__quote-background'>
                                        {{> icons/quotemark }}
                                        {{{ marked quote }}}
                                    </div>
                                {{/if}}
                            </div>
                            <div class='uit-maybes__param uit-maybes__param--iowa'>
                                {{#if iowaNewHampshire }}
                                    <img class='uit-maybes__check' src='{{ ../path }}/assets/check.svg' />
                                {{ else }}
                                    <div class='uit-maybes__dot'></div>
                                {{/if}}
                            </div>
                            <div class='uit-maybes__param uit-maybes__param--book'>
                                {{#if book}}
                                    <img class='uit-maybes__check' src='{{ ../path }}/assets/check.svg' />
                                {{ else }}
                                    <div class='uit-maybes__dot'></div>
                                {{/if}}
                            </div>
                            <div class='uit-maybes__param uit-maybes__param--polled'>
                                {{#if polled}}
                                    <img class='uit-maybes__check' src='{{ ../path }}/assets/check.svg' />
                                {{ else }}
                                    <div class='uit-maybes__dot'></div>
                                {{/if}}
                            </div>
                        </div>
                    {{/if_eq}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
