<div class='uit-methodology'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p>Potentional candidates have <strong>visited Iowa</strong> if they made a public appereance in the last 12 months. <strong>Releasing a book</strong> only includes books released by the candidate in 2017 or later (doesn't include Kirsten Gillibrand's children's picture book). A candidate has <strong>appeared in polls</strong> based on a national poll by SSRS for CNN.</p>
            <p>Data sourced by Sam Morris and Erum Salam.</p>
        </div>
    </div>
</div>
