<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/dec/08/democrats-2020-possible-presidential-candidates-liberal-progressive-split'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/252e35a6e341f0afa2ad550de17150aa54195dbc/0_285_4298_2580/500.jpg' />
                    <div class='uit-related__headline'>'The party could explode': Democrats prepare for wild 2020 ride</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/jan/05/elizabeth-warren-2020-iowa-donald-trump'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/959824e12961388a2da247129e1bfad6c67b8167/0_137_3000_1800/500.jpg' />
                    <div class='uit-related__headline'>'The fight of my life': Elizabeth Warren kicks off 2020 bid in Iowa</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/dec/31/elizabeth-warren-president-democratic-nomination-contenders'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/f8aa2ba59c1e041bddc4f8e091594bc1ab5aa780/0_159_2992_1795/500.jpg' />
                    <div class='uit-related__headline'>Elizabeth Warren is running – here are 10 others who may seek the Democratic nomination</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/dec/16/beto-orourke-2020-presidential-race'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/94cbe30b011a748d27110b9148f6f3cd254fb622/0_137_2048_1229/500.jpg' />
                    <div class='uit-related__headline'>Beto O'Rourke poses growing threat to fellow Democrats with 2020 hopes</div>
                </a>
            </div>
        </div>
    </div>
</div>
