.uit-body {
    p {
        @include bodyCopy();
        margin-bottom: 18px;
    }

    p a {
        color: $c-dem;
        border-bottom: 1px solid mix($c-dem, $c-white, 20%);
        text-decoration: none;

        &:hover {
            border-bottom-color: $c-dem;
        }
    }

    .uit-content {
        padding-bottom: 1px;

        @include mq(leftCol) {
            padding-top: 12px;
        }
    }
}

.uit-drop {
    @include dropCap(4);
    font-weight: 600;
    color: $c-dem;
}

h3.uit-subhead {
    font-family: 'Guardian Egyptian Web';
    font-size: 24px;
    font-weight: 600;
    padding-top: 24px;
    margin-bottom: 7px !important;
}

.uit-body__caption {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.1;
    color: $c-dark-grey;
    margin: 0;
    padding-bottom: 24px;

    @include mq(leftCol) {
        padding-bottom: 0;
        position: absolute;
        left: -160px;
        top: 12px;
        width: 140px;
    }

    @include mq(wide) {
        left: -240px;
        width: 220px;
    }
}
