.uit-body {
    p {
        @include bodyCopy();
        margin-bottom: 18px;
    }

    p a {
        color: $c-dem;
        border-bottom: 1px solid mix($c-dem, $c-white, 20%);
        text-decoration: none;

        &:hover {
            border-bottom-color: $c-dem;
        }
    }

    .uit-content {
        padding-bottom: 1px;
    }
}

.uit-drop {
    @include dropCap(4);
    font-weight: 600;
    color: $c-dem;
}

.uit-subhead {
    font-family: 'Guardian Egyptian Web';
    font-size: 24px;
    font-weight: 600;
    padding-top: 24px;
    margin-bottom: 7px;
}
