.uit-declared__candidates {
    @include mq(tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

.uit-declared__candidate {
    border-top: 1px solid $c-light-grey;
    margin: 12px 0;

    @include mq(mobileLandscape, tablet) {
        display: flex;
    }
}

.uit-declared__avatar {
    max-width: 160px;
    float: left;
    margin-bottom: 4px;

    @include mq(mobileLandscape) {
        float: none;
        align-self: flex-start;
    }

    @include mq(tablet) {
        display: block;
        max-width: 260px;
        margin: 0 auto;
        margin-bottom: 4px;
    }
}

.uit-declared__name {
    display: block;
    margin: 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: $c-dem;

    @include mq($until: tablet) {
        padding-top: 8px;
    }
}

.uit-declared__position {
    display: block;
    margin: 0;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    line-height: 1.3;
    color: $c-black;
    margin-bottom: 4px;
}
