.uit-header {
    overflow: auto;
}

.uit-header__headline {
    padding-bottom: 6px;
    margin: 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 600;
    font-size: 34px;
    line-height: 1.1;

    @include mq(tablet) {
        font-size: 48px;
    }

    @include mq(leftCol) {
        padding-top: 6px;
    }
}

.uit-header__headline-kicker {
    display: block;
    color: $c-red;
}

.uit-header__tag,
.uit-header__standfirst {
    padding: 3px 0 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;

    @include mq(tablet) {
        font-size: 24px;
    }
}

.uit-header__tag {
    color: $c-dem;
    display: block;
    padding: 8px 0 0px;
    font-weight: 600;

    @include mq(mobileLandscape) {
        padding-top: 12px;
    }

    @include mq(leftCol) {
        position: absolute;
        top: 0;
        padding-top: 9px;
        left: -160px;
        max-width: 150px;
    }

    @include mq(wide) {
        left: -240px;
        max-width: 240px;
    }
}

.uit-header__meta-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0 12px;

    @include mq(tablet) {
        padding-bottom: 24px;
    }

    .uit-share {
        flex-shrink: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 6px;
    }
}

.uit-header__byline {
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Guardian Egyptian Web';
    font-style: italic;
    font-weight: 400;
    color: $c-dem;
    flex-shrink: 2;
    margin: 0;

    a {
        font-style: normal;
        font-weight: 600;
        color: $c-dem;
    }
}

.uit-header__image {
    position: relative;
    width: 100%;

    @include mq(leftCol) {
        margin-left: -160px;
        width: 780px;
    }

    @include mq(wide) {
        margin-left: -240px;
        width: 860px;
    }
}

.uit-header__podium {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
}

$total: 8;
$timing: 3s;

@keyframes fade {
    0%, #{100% / $total - 2.5%}, 100% {
        opacity: 1;
    }
    #{100% / $total}, 97% {
        opacity: 0;
    }
}

.uit-header__placard {
    z-index: 4;
    position: absolute;
    top: 57%;
    left: 30%;
    width: 38%;
    opacity: 0;
    animation-name: fade;
    animation-duration: $timing;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@for $i from 1 through $total {
    .uit-header__placard--#{$i} {
        animation-delay: -($timing / $total * $i);
    }
}
