.uit-maybes {
    width: 100%;
}

.uit-maybes__table {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
}

.uit-maybes__row {
    display: grid;
    grid-template-columns: 1fr 1fr 62px 62px 62px;
    border-bottom: 1px solid $c-light-grey;
    padding: 6px 0;
}

.uit-maybes__row--titling {
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    line-height: 1.3;
    font-weight: normal;
    color: $c-black;
    text-align: center;

    &.is-fixed {
        position: fixed;
        z-index: 2;
        top: 0;
        background-color: $c-white;
        width: 620px;
    }
}

.uit-maybes__candidate {
    font-family: 'Guardian Egyptian Web';
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    color: $c-black;
    padding-top: 3px;
    padding-right: 8px;
    box-sizing: border-box;
}

.uit-maybes__name {
    color: $c-dem;
}

.uit-maybes__position {
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    display: block;
    font-weight: normal;
}

.uit-maybes__param {
    position: relative;

    svg {
        position: absolute;
        top: -24px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 18px;
        display: block;
        margin: auto;
        fill: $c-dem;
    }
}

.uit-maybes__quote {
    font-family: 'Guardian Egyptian Web';
    font-size: 18px;
    line-height: 1.3;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 28px;
    padding-right: 8px;
    box-sizing: border-box;

    svg {
        margin-top: 0.3em;
        height: 0.75em;
        margin-right: 0.2em;
        float: left;
        fill: $c-dem;
    }
}

.uit-maybes__quote-background {
    position: relative;
    background-color: $c-off-white;
    padding: 2px 4px;
    box-sizing: border-box;

    &:after {
        content: '';
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 0 0 1.5625rem;
        position: absolute;
        bottom: -24px;
        left: 24px;
        background-color: $c-off-white;
    }
}
