.uit-maybes {
    width: 100%;
}

.uit-maybes__row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 3fr;

    > * {
        border-top: 1px solid $c-light-grey;
        border-left: 1px solid $c-light-grey;
        padding: 6px;
    }
}

.uit-maybes__row--titling {
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: $c-black;
    padding-bottom: 0;

    &.is-fixed {
        position: fixed;
        z-index: 2;
        top: 0;
        background-color: $c-white;
        max-width: 620px;

        .uit-maybes__row-title {
            border-top-color: white;
            border-bottom: 1px solid $c-light-grey;
        }
    }
}

.uit-maybes__candidate {
    font-family: 'Guardian Egyptian Web';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    color: $c-black;
}

.uit-maybes__name {
    color: $c-dem;
}

.uit-maybes__position {
    font-style: italic;
    font-weight: normal;
    display: block;
}

.uit-maybes__param {
    position: relative;

    svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 60px;
        display: block;
        margin: auto;
        fill: $c-dem;
    }
}

.uit-maybes__quote {
    font-family: 'Guardian Egyptian Web';
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;

    svg {
        margin-top: 0.2em;
        height: 0.79em;
        margin-right: 0.2em;
        float: left;
        fill: $c-dem;
    }
}
